<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/header"></th:block>
<body>
<th:block th:replace="layout/menu"></th:block>
<main id="contents" class="about">
    <div>
        <section class="location">
            <div>
                <p>
                    <span class="path">메인</span>
                    <span class="path on">소개</span>
                </p>
            </div>
        </section>
        <section class="introduce">
            <div>
                <h2>개발자 소개</h2>
                <p>1년 차 웹 개발자로, 스마트 팩토리 MES 솔루션을 개발하고 유지 보수한 경험이 있습니다.</p>
                <p>MES를 운영하면서 내가 맡은 부분의 책임감과 문제해결에 대한 열정을 배웠고</p>
                <p>다른 동료들과 협업하면서 복잡한 문제를 해결하고 서비스를 개선했습니다.</p>
                <br>
                <p>Spring을 사용하여 REST API를 구축하고 travis, AWS를 이용하여 CI/CD를 구축한 경험이 있습니다.</p>
                <p>또한 실시간 운영을 위해 Nginx를 이용하여 무중단 배포 서비스를 경험했습니다.</p>
                <br>
                <p>현재 1일 1커밋을 하려고 노력 중이며 자료구조, 알고리즘, CS를 공부하고 기록하고 있습니다.</p>
                <p>보다 효율적인 코드와 설계를 위해 객체지향과 디자인 패턴에 대해 관심을 가지고 있으며</p>
                <p>견고하고 안정적인 서비스를 위해 테스트 코드 작성하는 것을 연습하고 있습니다.</p>
                <br>
                <p>기술이 비즈니스의 핵심이 되는 조직에서 코드를 통해 문제를 해결하고 비즈니스를 발전 시키는</p>
                <p>개발자가 되고 싶습니다.</p>
            </div>
        </section>
        <section class="skills">
            <div>
                <h2>기술스택 소개</h2>
                <p>현업에서 사용하여 프로젝트를 진행하거나 관심있게 학습해본 경험이 있는 기술스택입니다.</p>
                <p>실무·토이는 해당 언어를 사용하여 결과물을 도출해본 경험이 있으며 개발된 소스코드를 이해할 수 있습니다.</p>

                <div class="first category">
                    <div class="detail">
                        <div class="default">
                            <img src="/images/frontend.png" alt="">
                            <div>
                                <h3>Frontend</h3>
                                <p>퍼블리싱 &amp; SPA 프레임워크</p>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <img src="/images/skill_html.png" alt="">
                                <div>
                                    <h3>HTML<span class="status p">실무</span></h3>
                                    <span class="desc">태그를 활용한 마크업</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_css.png" alt="">
                                <div>
                                    <h3>CSS<span class="status p">실무</span></h3>
                                    <span class="desc">요구사항에 맞게 화면 퍼블리싱</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_jquery.png" alt="">
                                <div>
                                    <h3>JQuery<span class="status p">실무</span></h3>
                                    <span class="desc">라이브러리 활용 및 커스터마이징</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_javascript.png" alt="">
                                <div>
                                    <h3>Javascript<span class="status p">실무</span></h3>
                                    <span class="desc">ES5 기본 문법 활용</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="category">
                    <div class="detail">
                        <div class="default">
                            <img src="/images/backend.png" alt="">
                            <div>
                                <h3>Backend</h3>
                                <p>MVC웹 개발 &amp; RestAPI 서버 구축</p>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <img src="/images/skill_java.png" alt="">
                                <div>
                                    <h3>Java<span class="status p">실무</span></h3>
                                    <span class="desc">객체지향에 대한 이해와 람다 활용</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_springboot.png" alt="">
                                <div>
                                    <h3>SpringBoot<span class="status p">실무</span></h3>
                                    <span class="desc">기본 환경 셋팅 및 라이브러리를 활용한 웹 개발</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_mysql.png" alt="">
                                <div>
                                    <h3>PostgreSql<span class="status p">실무</span></h3>
                                    <span class="desc">도메인에 대한 이해를 바탕으로 SQL 작성</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_jpa.png" alt="">
                                <div>
                                    <h3>JPA<span class="status t">토이</span></h3>
                                    <span class="desc">라이브러리 활용 CRUD 구현</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="category last">
                    <div class="detail">
                        <div class="default">
                            <img src="/images/server.png" alt="">
                            <div>
                                <h3>Devops</h3>
                                <p>형상관리와 유지보수 &amp; 서버 구축</p>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <ul>
                            <li>
                                <img src="/images/skill_git.png" alt="">
                                <div>
                                    <h3>Git<span class="status p">실무</span></h3>
                                    <span class="desc">git flow에 대한 이해와 사용법 숙지</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_aws.png" alt="">
                                <div>
                                    <h3>AWS<span class="status t">토이</span></h3>
                                    <span class="desc">EC2 서버 구축 및 운영</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_junit.png" alt="">
                                <div>
                                    <h3>JUnit<span class="status t">토이</span></h3>
                                    <span class="desc">테스트 케이스 및 테스트 코드 작성</span>
                                </div>
                            </li>
                            <li>
                                <img src="/images/skill_linux.png" alt="">
                                <div>
                                    <h3>Linux<span class="status t">토이</span></h3>
                                    <span class="desc">기본 명령어 숙지 및 서버 환경 설정</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>

</html>