<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/header"></th:block>
<body>
<th:block th:replace="layout/common"></th:block>
<th:block th:replace="layout/menu"></th:block>
<main id="contents" class="login">
    <div>
        <section class="box">
            <div class="left">
                <h2>간편 로그인</h2>
                <h4>아래의 플랫폼으로 간단하게 가입하여 이용하실 수 있습니다.</h4>
                <ul>
                    <li>
                        <a class="btn_login naver" href="/oauth2/authorization/naver">
                            <div><i class="mdi mdi-netflix"></i></div>
                            <div>Naver</div>
                        </a>
                    </li>
                    <li>
                        <a class="btn_login google" href="oauth2/authorization/google">
                            <div><i class="mdi mdi-google"></i></div>
                            <div>Google</div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>

</body>

</html>